*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background: $background;
    color: $on-background;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: ($spacing-unit / 2) 0;
}

a {
    color: $primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
