// Colors
$primary: #bb86fc;
$primary-variant: #3700bc;
$secondary: #03dac6;
$background: #121212;
$surface: #121212;
$error: #cf6679;
$on-primary: #000000;
$on-secondary: #000000;
$on-background: #ffffff;
$on-surface: #ffffff;
$on-error: #000000;

// Elevation variations
$surface-01: #1c1d1c;
$surface-02: #212221;
$surface-03: #242524;
$surface-04: #262726;
$surface-06: #2b2c2b;
$surface-08: #2d2e2d;
$surface-12: #313231;
$surface-16: #333433;
$surface-24: #373837;

// Spacing
$spacing-unit: 1em;
